<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EnjoyVoyage</title>
    <link rel="stylesheet" type="text/css" href="../../css/page1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:replace="~{fragments :: header(${isUserConnected}, ${userInfo})}"></header>
<h2>Page Admin</h2>
<section>
    <div>
        <h3>Liste des utilisateurs</h3>
        <a href="/p/admin/list"><button >Liste</button></a>
    </div>

    <div>
        <h3>Ajouter Hotel</h3>
        <a href="/p/admin/addhotel"><button >ADD</button></a>
    </div>

    <div>
        <h3>Ajouter Hotel dans les Recommandations:</h3>
        <p>Id Hotel:</p>
        <form method="post">
            <input type="text" class="add" name="id" id="id">
            <input class="add" type="submit" value="Ajouter">
        </form>

    </div>
</section>
</body>
</html>